*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Readex Pro', sans-serif;
    background-color: #333333;
}
.container{
    padding: 0 5px;
}
/* Star of Header */

/* Start of Top_Bar */
.top-bar{
    display: flex;
    justify-content: space-between;
    background-color: #333333;
    width: 100%;
    height: 43px;
    padding: 13px 0px;
}
.top-bar a{
    color: #E5E5E5;
    font-size: 15px;    
}
.bar-items{
    display: flex;
    justify-content: space-between;
}
.padding{
    padding-right: 40px;
}
.bar-item img{
    padding-right: 10px;
}
.bar-item-2 img{
    padding-right: 10px;
}
.bar-item-border{
    padding-right: 40px;
    border-right: 1px solid #4F4F4F;
}
.bar-item-3{
    margin-left: 90px;
}
.bar-item-3 a{
    color: #F4E9BF;
}
/* End of Top_Bar */

/* Start of Navbar */
.Header_navbar{
    width:auto;
    height: 810px;
    background-image: url(./img/Header_Background-image.png);
    background-repeat: no-repeat;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding-top: 35px;
}
.navbar-content a{
    font-weight: 600;
    font-size: 22px;
    text-decoration: none;
    padding-left: 90px;
}
.Header_navbar a{
    color: #FFFFFF;
}
.Navbar-items{
    display: flex;
    justify-content: space-between;
    margin-right: 230px;
    margin-top: 5px;
} 
.Navbar-items a{
    padding-right: 50px;
}
.Main{
    text-decoration: none;
}
/* Dropdown Button */
.dropbtn {
    color: white;
    padding: 7px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {margin-top: 10px; display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  /* .dropdown:hover .dropbtn {background-color: #3e8e41;} */
.tel{
    margin-top: 7px;
    margin-right: 50px;
}
.tel img{
    padding-right: 15px;
}
.tel a{
    text-decoration: none;
}
.Header-content-2{
    margin-top: 90px;
    padding-left: 90px;
}
.Header-content-2 h1{
    font-weight: 600;
    font-size: 45px;
    line-height: 60,58px;
    color: #FFFFFF;
}
.Header-content-2 p{
    font-size: 17   px;
    Line-height: 28,82px;
    color: #FFFFFF;
}
.span-content-2{
    font-weight: 400;
    font-size: 32px;
}
.header-abuot{
    padding-top: 50px;
}
.header-abuot img{
    padding-right: 40px;
}
.header-abuot span{
    font-weight: 600;
    font-size: 20px;
}
.header-about-2{
    margin-left: 105px;
    font-size: 16px;
}
.header-btn{
    width: 300px;
    height: 68px;
    margin-top: 100px;
    margin-left: 120px;
    cursor: pointer;
    outline: none;
    background-color: #FF623D;
    border-radius: 10px;
}
.header-btn a{
    text-decoration: none;
}
.posetit{
    margin-left: 123px;
}
.posetit img{
    padding-right: 25px;
}

/* End of Header */

/* hali tayyormas */